<div class="container">
   <!-- <app-search(searchResult)="searchUser($event)"></app-search>-->

    <div class="row">
        <img src="user.avatar_url" alt="avatar" class="img-fluid">
    </div>

    <div class="row mb-5">
        <h3>{{user.name}}</h3>

        <div class="col-sm-2">
            <p>Followers:{{user.followers}}</p>
        </div>

        <div class="col-sm-2">
            <p>Following:{{user.following}}</p>
        </div>

        <div class="col-sm-2">
            <p>Repositories:{{user.public_repos}}</p>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <h1 class="mb-6" >Repositories</h1>

    <div class="row">
        <div class="col-sm-6" *ngFor="let repo of repos">
            <div class="card text-white">
                <h3><a href="{{repos.html_url}}">{{repo.name}}</a></h3>
            </div>
            <div class="body">
                <p class="card-text">{{repos.description}}</p>
            </div>

            <div class="footer text-muted">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                </div>
                
                {{repos.language}}
            </div>

            <div class="col-sm-6">
                Created:{{repos.created_at| dateCount}}
            </div>

        </div>
    </div>
  </div>
