
<nav class="navbar navbar-expand-sm  ">
    <div class="container-fluid bg-info">
        <a href="#" class="navbar-brand text-center bg-info">GITHUB SEARCH</a>
    

    <button class="navbar-toggler"
    data-toggle="collapse"
    data-target="#nav">
    <span class="navbar-toggler-icon"></span>

        
    </button>

    <div id="nav" class="collapse navbar-collapse ">
        <ul class="navbar-nav ms-auto ">
            <li class=" nav-link nav-item"><a routerLink="/home" routerLinkActive="active" href="#">Home</a></li>
            <li class=" nav-link nav-item"><a routerLink="/search" routerLinkActive="active" href="#">Search</a></li>

        </ul>
    </div>

</div>
</nav>
<router-outlet></router-outlet>
