<div class="container-fluid d-flex text-align-center justify-content-center">
    <h3 class="git">Find someone on Github</h3>
</div>
    <div class="input-group">
        <input type="text" placeholder="search profile text:center" class="form-control"
        [(ngModel)]="searchTerm">
        <button class="btn btn-primary "(click)="search()">Search</button>
    </div>
    <hr>

  

    <!--start of bio ontro-->
    <div *ngIf="user">
        <div class="panel-heading">
            <h4>{{user.name}}</h4>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-fluid" src="{{user.avatar_url}}">
                    </div>

                    <div class="col-sm-6 m-auto">
                        <span id="rep" class="label">{{user.public_repos}}</span>

                        <span id="rep">Public Repositories</span>


                    </div>
                </div>
                <span class="label  fw-bold "
                >{{ user.followers }}
              </span>
              <span>Followers</span>
            </div>
        </div>
      
                <span class="label lb1  fw-bold "
                  >{{ user.followers }}
                </span>
                <span>Following</span>
              </div>
              
              <div>
                <span>Member since: </span>
                <span class="label lb1  fw-bold "
                  >{{ user.created_at | date: "mediumDate" }}
                </span>
                <div>
                  <span>About: </span>
                  <span class="label lb1  fw-bold "
                    ><a href="{{user.html_url}}"> {{ user.bio }}</a>

                  </span>
                </div>


    </div>
<br>
<hr>

    <!--list of repositories-->
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center ">Repositories</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
    
              <div *ngFor="let repo of repos">
                <div class="row">
                  <div class="col-md-9">
                    <h4>
                      <a href="{{ repo.html_url }}" target="_blank">{{
                        repo.name
                      }}</a>
                    </h4>
                    <p>{{ repo.description }}</p>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <span class="label  mx-2"
                        >{{ repo.watchers }} Watchers</span
                      ></div>
                     
                      <span class="label  mx-2"
                        >{{ repo.forks }}Total Forks</span
                      >
                     </div>
  
                    <div class="label  mx-2">
                      Created on: {{ repo.created_at |date :"mediumDate"}}
                    </div>
                  </div>
                  <br>
                </div>
                </div>
           
          </div>
          </div>
        </div>


